/* IDs */
#Project{
    color:  black;
    margin: auto;
}

#quote{
    text-align: center;
}

/* Classes */
.summaryProject{
    padding-top: 15px;
    text-decoration: underline;
}

.textcenter{
    text-align: center;
}

td{
    padding: 10px;
}

img[class = "projects"]{ /* Class sector to exclude one of the other img tag */
    /* Keep img same size */
    width: 750px;
    height: 300px;
    border-radius: 10%;
    max-width: 100%;
    max-height: 100%;
}

img[class = "projects"]:hover{
    box-shadow: 5px 5px lightgrey;
    transition: .25s;
    transform:  scale(1.005);
}

body{
    background-image:  url("Logo.png");
}


/* Style the navbar */
#navbar {
  overflow: hidden;
  background-color: rgba(255, 255, 255, 1);
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

